.App {
  text-align: center;
}
.Header-app {
  background: rgba(62, 62, 62) !important;
  color: white !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.container {
  width: 100%;
  height: 100%;
}
.container-checkout {
  max-width: 600px;
  flex: 1;
  align-items: center;
  margin: auto;
}
.input-product-details {
  width: 80%;
}
.tattoer-container {
  background-color: #b1b1b1;
  height: 150px;
  padding: 20px;
  color: white;
}
.listing-button {
  color: white !important;
  background: #3e3e3e !important;
  position: relative;
  max-width: 430px !important;
  width: 100%;
  height: 53px !important;
  font-size: 18px !important;
  margin: 15px 0 !important;
}
.button:hover {
  background-color: #57b993 !important; /* Green */
  color: white !important;
}
.details-box {
  max-width: 400px;
  padding: 15px;
  margin: auto;
}
.tattoer-container-details {
  background-color: #a5a5a5;
  min-height: 370px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.bigAvatar {
  margin: auto;
  width: 100px !important;
  height: 100px !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.strikethroug{
  position: relative;
}

.strikethroug:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 46%;
  right: -4px;
  border-top: 3px solid;
  border-color: inherit;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-12deg);
}